/* Selector Universal */
* {
    padding: 0 auto;
    margin: 0 auto;

}

/* Selector ID */
#contenedor {
    width: 900px;
    height: 1200px;
    background-color: #d49e23;
    

}
/* Selector de encabezado */
#cabecera{
    height: 25%;
    background-color: #d9bd1f;
    
}

#menu{
    height: 5%;
    background-color:#713505;
    

}
#seccion1{
    height: 30%;
    background-color: #b01a1c;
    border: 2px solid #68531e;
    font-family: tahoma;
    
}
#seccion2{
    height: 30%;
    background-color: #dcc43c;
    border: 2px solid #68531e;
    font-family: tahoma;
    
    
}
#pie{
    height: 10%;
}

/* Selector de clase */
.texto{
    text-align: justify;
    font-family: tahoma;
    padding-top: 10px;
    font-size: 14px;
    margin-left: 20px;
    margin-right: 450px;
    
}
.texto2{
    text-align: justify;
    font-family: tahoma;
    padding-top: 10px;
    font-size: 14px;
    margin-left: 450px;
    margin-right: 20px;
    
}

.texto_cabecera{
    font-family: tahoma;
    font-size: 100px;
    text-align: center;
    color: black;
}
.barra_menu{
    font-family: tahoma;
    font-size: 15px;
    text-align: center;
}
.texto_pie{
    font-family: tahoma;
    font-size: 14px;
    text-align: center;
    color: black;


}
.img1{
float: right;
}
.img2{
    float: left;
    }
.h2{
    margin-left: 450px;
    margin-right: 20px;
}
/* Selector de etiqueta */
ul {

    text-align: center;
}

li{
    display: inline;
    padding-left: 1px;
    padding-right: 6px;
}
img{
   border: 1px solid whitesmoke;
    width: 100px;
    height: 100px;
    margin-left: 5px;
    margin-right: 5px;
}


